AutoTest configuration (copy as .env and adjust)

AUTOTEST_LOG_DIR=$HOME/AutoTest_Logs
AUTOTEST_GPU_LOG_DIR=$HOME/gpu_burn_logs
AUTOTEST_ARCHIVE_DIR=$HOME/AutoTest_Archives
AUTOTEST_RETENTION_DAYS=14

# Date/time format (used by autotest and scripts)
# Examples (European):
#   %d-%m-%Y %H:%M:%S   -> 31-10-2025 14:05:00
#   %d.%m.%Y %H:%M:%S   -> 31.10.2025 14:05:00
#   %d/%m/%Y %H:%M:%S   -> 31/10/2025 14:05:00
# Note: using ':' in filenames may be inconvenient on some systems.
AUTOTEST_FORMAT_DATE="%d-%m-%Y %H:%M:%S"

